
.activity img{
width: 280px;
height: 280px;
border-radius: 8px;
}
.container-detail{
    border: 1px solid black;
    border-radius: 8px;
    
}

.activity-text{
  text-align: justify;
  padding: 10px;
}

.btn-cart{
width: 100%;
border-radius:0px 0px 8px 8px;
background-color: rgb(14, 59, 77);
border: none;
color: #ffffff;
}